.card {
  min-width: 10rem;
  border-radius: 0.5rem;
}
.card-title {
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 0.5rem;
  font-weight: bold;
  color: white;
}

.bg-none {
  background-color: white;
  color: #4f5f68;
}

.bg-dark {
  background: linear-gradient(90deg, #6f374c 0%, #c94b7c 100%);
}

.bg-light {
  background: linear-gradient(90deg, #f26e87 0%, #f79b84 100%);
}

.bg-orange {
  background: #f79b84;
  color: white;
}

.bg-gradient {
  background: linear-gradient(90deg, #813866 0%, #ff9d82 100%);
  color: white;
}

.card-body {
  padding: 0.5rem;
}
.card-footer {
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
